.contacts {
  margin-bottom: rem(80px);

  @include mobile {
    margin-bottom: rem(40px);
  }

  &__title {
    color: $p-accent-2;
    margin-bottom: rem(16px) !important;
  }

  &__subtitle {
    font-size: rem(24px);
    line-height: 110%;
    text-align: center;
    margin-bottom: rem(56px);

    @include mobile {
      font-size: rem(18px);
      margin-bottom: rem(32px);
    }
  }

  &__inner {
    display: flex;
  }


  &__form {
    display: none;
    width: 50%;
  }

  .form__btn {
    margin-left: 0;
  }

  &__social {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  &__social-list {
    display: flex;
    align-items: flex-start;
    margin-bottom: rem(16px);
    justify-content: center;
  
  }

  &__social-item {
    margin-right: rem(16px);
    width: rem(60px);
    height: rem(60px);
  
    background-repeat: no-repeat;
    background-size: contain;

    &:last-child {
      margin-right: 0;
    }

    &._insta {
      background-image: url('../../img/instagram.svg');
      width: rem(59px);
      height: rem(59px);
    }

    &._tel {
      background-image: url('../../img/telegram.svg');
    }

    &._wapp {
      background-image: url('../../img/whatsapp.svg');
    }
  }

  &__social-img {
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../../img/insta.png');
    width: rem(450px);
    height: rem(264px);
    display: none;
  }

  .contacts__social-item {
    width: rem(60px);
    height: rem(60px);

    @include mobile {
      width: rem(40px);
      height: rem(40px);
    }
  }

  &__info {
    font-size: rem(16px);
    line-height: 120%;
    margin-top: rem(48px);
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 0;

    @include mobile {
      font-size: rem(14px);
    }
  }

  &__info-item {
    display: flex;
    
    span {
      font-family: $p-font-medium;
    }
  }


}