$b: '.header';

#{$b} {
  background: $p-gradient-1;
  padding: rem(15px) 0;

  

  @include mobile {
    padding: rem(8px) 0;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    @include mobile {
      justify-content: flex-start;
      width: 100%;
    }
  }

  &__logo {
    width: rem(70px);
    height: rem(70px);

    svg {
      width: 100%;
      height: 100%;
    }

    @include mobile {
      width: rem(50px);
      height: rem(50px);
      margin-right: rem(16px);
    }
  }

  &__nav  {
    display: flex;
    align-items: center;

    .nav__item {
      font-family: $p-font-medium;
      color: #fff;
      font-size: rem(18px);
      margin-right: rem(20px);
      padding-bottom: rem(3px);
      position: relative;
      overflow: hidden;

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1.5px;
        bottom: 0;
        color: #fff;
        background-color: #fff;
        left: -200px;
        transition: left 0.3s ease-in-out;
      }

      &:hover {
        cursor: pointer;
        &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 1.5px;
          bottom: 0;
          color: #fff;
          background-color: #fff;
          left: 0;
          transition: left 0.3s ease-in-out;
        }
 
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__select {
    color: #fff;
    // display: none;
  }

  @include mobile {
    .nav__list {
      position: absolute;
      flex-direction: column;
      background-color: $p-accent-1;
      width: 100%;
      z-index: 55;
      left: 0;
      top: 0;
      padding: rem(54px) 0;
      display: none;

      &.active {
        display: flex;
      }
    }

    .nav__item {
      margin-right: 0;
      margin-bottom: rem(24px);
    }
  }


}