$b: '.hero';

#{$b} {
  margin-bottom: rem(180px);

  @include mobile {
    margin-bottom: rem(56px);
  }
&__container  {
  display: flex;
  align-items: flex-end;
  position: relative;
  justify-content: space-between;
  padding-top: rem(50px);
  position: relative;
}

&__btn {
  margin-right: auto;
  margin-left: 0;
  background: $p-gradient-1;


  &:hover {
    background: $p-gradient-1-hover;
  }

  

  @include mobile {
    width: rem(175px);
  }
}

&__left-img {
  position: absolute;
  width: rem(1074px);
  height: rem(258px);
  top: rem(78px);
  left: rem(48px);

  @include mobile {
    width: rem(240px);
    height: rem(70px);
    top: rem(46px);
    left: rem(16px);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &.ukr {
    width: rem(1074px);
    height: rem(320px);

    @include mobile {
      width: rem(240px);
      height: rem(70px);
      top: rem(46px);
      left: 0;
    }
  }
}

&__left-text {
  @include mobile {
    padding-top: rem(130px);
  }
}

&__left-text-order {
  font-family: $p-font-medium;
  font-size: rem(28px);
  line-height: 110%;
 

  @include mobile {

    &._mob {
      width: rem(140px);
    }
    font-family: $p-font-regular;
    font-size: rem(18px);
    
   
  }

  &:nth-child(4) {
    margin-bottom: rem(12px);
    margin-top: rem(26px);

    @include mobile {
      margin-bottom: rem(8px);
      margin-top: rem(48px);
    }
  }

}

&__left-text-title {
  color: $p-accent-1;
  font-family: $p-font-bold;
  font-size: rem(48px);
  line-height: 110%;
  // margin-bottom: rem(26px);

  @include mobile {
    font-family: $p-font-bold;
    font-size: rem(18px);
    // margin-bottom: rem(48px);
  }
}

&__right {
  width: rem(505px);
  height: rem(700px);

  @include mobile {
    width: rem(156px);
    height: rem(235px);
    position: absolute;
    top: rem(56px);
    right: rem(16px);
    z-index: -1;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;

    @include mobile {
      width: rem(156px);
      height: rem(235px);
    }
  
  }
}
&__scroll {
  width: rem(32px);
  height: auto;
  margin: 0 auto;
  margin-top: rem(80px);

  @include mobile {
    width: rem(16px);
    margin-top: rem(42px);
  }

  svg {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}
}