.how {
  margin-bottom: rem(110px);

  @include mobile {
    margin-bottom: rem(80px);
  }

  &__title {
    color: $p-accent-1;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    row-gap: rem(52px) ;

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
      row-gap: rem(36px) ;
    }
  }

  &__item  {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: rem(310px);
    font-size: rem(16px);
    line-height: 110%;
    text-align: center;
    grid-column: span 2;
    justify-self: center;
    letter-spacing: 0;
    // font-family: $p-font-medium;

    @include mobile {
      max-width: 100%;
    }

    &-img {
      width: rem(60px);
      height: rem(60px);
      background-repeat: no-repeat;
      background-size: contain;
      flex-shrink: 0;
      margin-bottom: rem(16px);

      @include mobile {
        width: rem(40px);
        height: rem(40px);
      }
    }

    &-txt {
      line-height: 110%;
      @include mobile {
        font-size: rem(14px);
      }
    }

    &._1 {

      .how__item-img {
        background-image: url('../../img/who-1.svg');
      }
    }

    &._2 {

      .how__item-img {
        background-image: url('../../img/who-2.svg');
      }
    }

    &._3 {

      .how__item-img {
        background-image: url('../../img/who-3.svg');
      }
    }


    &._4 {
      grid-column: span 3;
      transform: translateX(rem(100px));
      max-width: rem(360px);

      .how__item-img {
        background-image: url('../../img/who-4.svg');
      }

      @include mobile {
        transform: translateX(0);
      }
    }

    &._5 {
      grid-column: span 3;
      max-width: rem(360px);
      transform: translateX(rem(-100px));

      .how__item-img {
        background-image: url('../../img/who-5.svg');
      }

      @include mobile {
        transform: translateX(0);
      }
    }
  }
}