$p-text: #222;

$p-font-bold:  'Montserrat-Bold';
$p-font-medium:  'Montserrat-Medium';
$p-font-regular:  'Montserrat-Regular';
$p-font-title:  'Philosopher-Regular';

$p-accent-1:#9B5BD4;
$p-accent-2:#2F64B8;

$p-gradient-1: linear-gradient(90deg, #8F53C5 0%, #B381E0 100%);
$p-gradient-2: linear-gradient(118deg, rgba(47, 100, 184, 0.98) 0%, rgba(68, 131, 233, 0.98) 100%);

$p-gradient-1-hover:linear-gradient(270deg, #8F53C5 0%, #B381E0 100%);

$p-gradient-2-hover:linear-gradient(301deg, rgba(47, 100, 184, 0.98) 0%, rgba(68, 131, 233, 0.98) 100%);













